<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484360234949-5l6d46jiuke4c3v19na2dem26eob5aho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484360234949-5l6d46jiuke4c3v19na2dem26eob5aho</string>
	<key>API_KEY</key>
	<string>AIzaSyC3JhEakMY_rjJN9KRLz7VDIVuSG4RdC44</string>
	<key>GCM_SENDER_ID</key>
	<string>484360234949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>dpd-saturn-automation</string>
	<key>STORAGE_BUCKET</key>
	<string>dpd-saturn-automation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484360234949:ios:ea3e8f0497d9e3ee</string>
	<key>DATABASE_URL</key>
	<string>https://dpd-saturn-automation.firebaseio.com</string>
</dict>
</plist>